@model IEnumerable<shanuMVCUserRoles.Entidad.Vendedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Vendedores
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i>@Html.ActionLink("Principal", "AdminIndex", "Home")</li>
        <li class="active">Vendedores</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Administrar Vendedores</h2>
                </div><!-- /.box-header -->
                <div class="box-header">
                    <h5 class="box-title">
                        @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-info" })
                    </h5>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreVendedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ApellidoVendedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodVendedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreadoUTC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModificadoUTC)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(n => n.Eliminado == false))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreVendedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApellidoVendedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodVendedor)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreadoUTC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModificadoUTC)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.IdVendedor }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdVendedor }, new { @class = "text-red" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreVendedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ApellidoVendedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodVendedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreadoUTC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModificadoUTC)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{

    <script type="text/javascript">
        $(function () {
            $("#example1").dataTable();
        });
    </script>
} 