@model shanuMVCUserRoles.Models.FileModel

@{
    ViewBag.Title = "Inventario Masivo Imagenes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Inventario Masivo - Imagenes
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i>@Html.ActionLink("Principal", "AdminIndex", "Home")</li>
        <li class="active">Inventario Masivo - Imagenes</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Subir Imagenes</h2>

                    @using (Html.BeginForm("Index", "InventarioMasivoImagenes", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                                    @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Upload" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 text-success">
                                    @ViewBag.UploadStatus
                                </div>
                            </div>

                        </div>
                    }
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>

<!-- SCRIPTS-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
