@model IEnumerable<shanuMVCUserRoles.Entidad.IVA>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        IVA
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i>@Html.ActionLink("Principal", "AdminIndex", "Home")</li>
        <li class="active">IVA</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Administrar IVA</h2>
                </div><!-- /.box-header -->
                <div class="box-header">
                    <h5 class="box-title">
                        @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-info" })
                    </h5>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IVA1)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Where(n => n.Eliminado == false))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IVA1)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.IdIVA }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdIVA }, new { @class = "text-red" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IVA1)
                                </th>

                                <th></th>
                            </tr>
                        </tfoot>

                    </table>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</section>

@section Scripts
{

    <script type="text/javascript">
        $(function () {
            $("#example1").dataTable();
        });
    </script>
}
