@model shanuMVCUserRoles.Entidad.Descuento

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Descuento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.deduccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.deduccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Eliminado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Eliminado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreadoUTC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreadoUTC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModificadoUTC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModificadoUTC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdDescuento }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
